<div class="col-md-6 col-md-offset-3">
	<div class="panel panel-primary custom-container">
		<div class="panel-body">
			<form class="user-form">
				<li class="form-group col-sm-12 col-lg-4">
			        <label for="input" class="required">Your Id Number</label>
			        <input type="text" class="form-control" id="dealerId" placeholder="Your ID Number ie 123456" pattern="[1-9]\d{5}" title="Enter your 6 digit dealer id, dealer id should start with a number excluding 0" required>
			    </li>
			    <li class="form-group col-sm-12 col-lg-4">
			        <label for="input" class="required">brand</label>
			        <input type="text" class="form-control" id="brand" placeholder="Brand Name" required>
			    </li>
			    <li class="form-group col-sm-12 col-lg-4">
			        <label for="input" class="required">model</label>
			        <input type="text" class="form-control" id="model" placeholder="Car model" required>
			    </li>
			    <li class="form-group col-sm-12 col-lg-4">
			        <label for="input"  class="required">carColor</label>
			        <input type="text" class="form-control" id="carColor" placeholder="Car color" required>
			    </li>
			    <li class="form-group col-sm-12 col-lg-4">
			        <label for="input" class="required">seater</label>
			        <input type="text" class="form-control" id="seater" placeholder="seater" pattern="[2-6]{1}" title="Please enter the number of seats in between 2 and 6" required>
			    </li>
			    <li class="form-group col-sm-12 col-lg-4">
			        <label for="input" class="required"><input id="ac" type="checkbox" required>Air Conditioner</label>
			    </li>
			    <li class="form-group col-sm-12 col-lg-4">
			        <label for="input" class="required">Purchase Date</label>
			        <input type="date" class="form-control" id="purchaseYear" placeholder="Purchase year" title="Please select a date after the specified year" ng-model="purchaseDate" ng-change = "validatePurchaseDate()" required onkeyup="return false">
			    </li>
			    <li class="form-group col-sm-12 col-lg-4">
			        <label for="input" class="required">Fuel Type</label>
			        <input type="text" class="form-control" id="fueltype" placeholder="fuel type" required>
			    </li>
			    <li class="form-group col-sm-12 col-lg-4">
			        <label for="input" class="required">KMs Run</label>
			        <input type="text" class="form-control" id="kmRun" placeholder="Kilometer Run" pattern="^[1-9]\d*$" required>
			    </li>
			    <li class="form-group col-sm-4">
			        <label for="input" class="required">Adress</label>
			        <textarea class="form-control" id="address" placeholder="Address" required></textarea>
			    </li>
			    <li class="form-group col-sm-12 col-lg-4">
			        <label for="input" class="required">Pincode</label>
			        <input type="text" class="form-control" id="pincode" placeholder="Pincode" pattern="[1-9]\d{5}" title="Please enter a pincode with 6 digit" required>
			    </li>
			    <li class="form-group col-sm-12 col-lg-4">
			        <label for="input" class="required">rent Per Day</label>
			        <input type="text" class="form-control" id="rentPerDay" placeholder="rent Per Day (INR)" pattern="[1-9]/d" title="Rent should be 4 digits" required>
			    </li>
			    <li class="form-group col-sm-12 col-lg-4">
			        <label for="input" class="required">Security Amount</label>
			        <input type="text" class="form-control" id="security" placeholder="security (INR)" pattern="[1-9]/d" title="Rent should be 4 digits" required>
			    </li>
			    <li class="form-group col-sm-12 col-lg-4">
			        <label for="input" class="required">documents accepted</label>
			        <input type="text" class="form-control" id="documents" placeholder="documents accepted" required>
			    </li>
			    <li class="form-group col-sm-12">
			        <label for="input" class="required">select image</label>
			        <div tabindex="500" class="btn btn-primary btn-file"><i class="glyphicon glyphicon-folder-open"></i> <span class="hidden-xs">Browse …</span><input id="input-image-1" name="input-image" type="file" class="" accept="image/*"></div>
			    </li>
			    <li class="form-group col-sm-12">
			    <button type="submit" class="btn btn-primary">Put It for Rent</button></li>
			</form>
		</div>
	</div>
</div>
