<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-6">
		<div class="panel panel-primary custom-container">
			<div class="panel-body">
				<div class="col-xs-10 col-sm-8 col-md-8 col-lg-8">
				<form>
					<div class="form-group">
				        <label for="input">Your Id Number</label>
				        <input type="text" class="form-control" id="dealerId" placeholder="Your ID Number">
				    </div>
				    <div class="form-group">
				        <label for="input">brand</label>
				        <input type="text" class="form-control" id="brand" placeholder="Brand Name">
				    </div>
				    <div class="form-group">
				        <label for="input">model</label>
				        <input type="text" class="form-control" id="model" placeholder="Car model">
				    </div>
				    <div class="form-group">
				        <label for="input">carColor</label>
				        <input type="text" class="form-control" id="carColor" placeholder="Car color">
				    </div>
				    <div class="form-group">
				        <label for="input">seater</label>
				        <input type="text" class="form-control" id="seater" placeholder="seater">
				    </div>
				    <div class="form-group">
				        <label for="input"><input id="ac" type="checkbox">Air Conditioner</label>
				    </div>
				    <div class="form-group">
				        <label for="input">Purchase Year</label>
				        <input type="date" class="form-control" id="purchaseYear" placeholder="Purchase year">
				    </div>
				    <div class="form-group">
				        <label for="input">fueltype</label>
				        <input type="text" class="form-control" id="fueltype" placeholder="fuel type">
				    </div>
				    <div class="form-group">
				        <label for="input">KMs Run</label>
				        <input type="text" class="form-control" id="kmRun" placeholder="Kilometer Run">
				    </div>
				    <div class="form-group">
				        <label for="input">Adress</label>
				        <textarea class="form-control" id="address" placeholder="Adress"></textarea>
				    </div>
				    <div class="form-group">
				        <label for="input">Pincode</label>
				        <input type="text" class="form-control" id="pincode" placeholder="Pincode">
				    </div>
				    <div class="form-group">
				        <label for="input">rent Per Day</label>
				        <input type="text" class="form-control" id="rentPerDay" placeholder="rent Per Day (INR)">
				    </div>
				    <div class="form-group">
				        <label for="input">Security Amount</label>
				        <input type="text" class="form-control" id="security" placeholder="security (INR)">
				    </div>
				    <div class="form-group">
				        <label for="input">documents accepted</label>
				        <input type="text" class="form-control" id="documents" placeholder="documents accepted">
				    </div>
				    <div class="form-group">
				        <label for="input">select image</label>
				        <div tabindex="500" class="btn btn-primary btn-file"><i class="glyphicon glyphicon-folder-open"></i> <span class="hidden-xs">Browse …</span><input id="input-image-1" name="input-image" type="file" class="" accept="image/*"></div>
				    </div>
				    <button type="submit" class="btn btn-primary">Put It for Rent</button>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-3">
	</div>
</div>
