<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-6">
		<div class="panel panel-primary custom-container">
			<div class="panel-body">
				<car-Details></car-Details>
				<div class="col-xs-10 col-sm-8 col-md-8 col-lg-8">
					<form>
					    <div class="form-group">
					        <label for="input">Mobile No.</label>
					        <input type="text" pattern="[0-9]{10}" class="form-control" id="mobileNumber" ng-model="userMobileNumber" placeholder="9999999999" title="Enter a 10 digit mobile number" required>
					    </div>
					    <div class="form-group">
					        <label for="input">Email</label>
					        <input type="email" class="form-control" id="email" ng-model="userEmailId" placeholder="Email"
					        placeholder="username@domainname.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" 
					        title="Please enter an email address username@domainname.com" required>
					        
					    </div>
					    <div class="form-group">
					        <label for="input">Address</label>
					        <textarea class="form-control" id="address" ng-model="userAddress" placeholder="Address" required></textarea>
					    </div>
					    <div class="form-group">
					        <label for="input">From</label>
					        <input type="date" class="form-control" id="fromDate" placeholder="from" min="2016-01-01" ng-model="fromDate" required>
					    </div>
					    <div class="form-group">
					        <label for="input">To</label>
					        <input type="date" class="form-control" id="toDate" placeholder="to" required>
					    </div>
					    <div class="form-group">
					        <label for="input">Total Amount</label>
					        <span>5,000</span>
					    </div>
					    <button type="submit" class="btn btn-primary" ng-click="validateMobileNumber()">Rent It Now</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
	</div>
</div>

