<div><label>Brand:</label> {{carData[0].brand}}</div>
<div><label>Car Id:</label> {{carData[0].carId}}</div>
<div><label>Model:</label> {{carData[0].model}}</div>
<div><label>Dealer Id:</label> {{carData[0].dealerId}}</div>
<div><label>Pincode:</label> {{carData[0].pincode}}</div>
<div><label>Rent per Day:</label> {{carData[0].rentPerDay}}</div>
<div><label>Kilometers:</label> {{carData[0].km}}</div>
<div><label>FuelType:</label> {{carData[0].fuelType}}</div>
<div><label>Image:</label><img ng-src="{{carData[0].image}}"/></div>
<div><label>Number of Seats: </label> {{carData[0].seater}}</div>
<div><label>AC Car:</label> {{carData[0].ac}}</div>
<div><label>Car Color:</label> {{carData[0].carColor}}</div>
<div><label>Security Deposit: </label> {{carData[0].security}}</div>
<div><label>Documents Required for Renting: </label> {{carData[0].documents}}</div>