.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.small-text {
	font-size: 10px;
}

.small-padding {
	padding-right: 5px;
    padding-left: 5px;
}

.red {
	background-color: red;
}

.re